/* @group Footer Credit Link */

.bolts-credit-link {
	border-top: 1px solid #e5e5e5;
	clear: both;
	font-size: 11px;
	padding: 10px 0 0;
}

/* @end */

/* @group Breadcrumbs */

.bolts-breadcrumbs {
	color: #999;
	font-size: 11px;
	margin: 10px 0 20px;
	text-transform: uppercase;
}

.bolts-breadcrumbs a {
	color: #ccc;
}

.bolts-breadcrumbs a:hover {
	color: #666;
}

/* @end */

/* @group Buttons */

.bolts-button {
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	width: auto;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #999 0px 1px 2px;
	-moz-box-shadow: #999 0px 1px 2px;
	box-shadow: #999 0px 1px 2px;
	
	background: #71D3F4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#71D3F4), to(#0099cc));
	background: -moz-linear-gradient(#71D3F4, #0099cc);
	background: linear-gradient(#71D3F4, #0099cc);
	-pie-background: linear-gradient(#71D3F4, #0099cc);
}

.bolts-button:hover {
	text-decoration: none;
}

.bolts-button:active {
	position: relative;
	top: 1px;
	
	-webkit-box-shadow: #666 0px 0 1px;
	-moz-box-shadow: #666 0px 0 1px;
	box-shadow: #666 0px 0 1px;
}

.bolts-button.cancel {
	background: #c00;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c00), to(#900));
	background: -moz-linear-gradient(#c00, #900);
	background: linear-gradient(#c00, #900);
	-pie-background: linear-gradient(#c00, #900);
}

.bolts-button.disabled {
	background: #eee;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(#eee, #ccc);
	background: linear-gradient(#eee, #ccc);
	-pie-background: linear-gradient(#eee, #ccc);
	color: #fff;
	cursor: text;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bolts-button.disabled:active {
	top: 0;
	
	-webkit-box-shadow: #999 0px 1px 2px;
	-moz-box-shadow: #999 0px 1px 2px;
	box-shadow: #999 0px 1px 2px;
}

.bolts-button.primary {
	background: #B1F94E;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#B1F94E), to(#3BB40E));
	background: -moz-linear-gradient(#B1F94E, #3BB40E);
	background: linear-gradient(#B1F94E, #3BB40E);
	-pie-background: linear-gradient(#B1F94E, #3BB40E);
}

/* @end */

/* @group Download Link */

.bolts-download-link {
	background: url(../../images/download.png) no-repeat left center;
	color: #390;
	display: block;
	font-size: 1.5em;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

/* @end */

/* @group Divider line */

.bolts-divider {
	border: none;
	border-top: 1px solid #ccc;
	height: 1px;
}

/* @end */

/* @group Callout Boxes */

.bolts-callout {
	margin: 1em 0;
	padding: 0.5em 1em;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
}

.bolts-callout h1,
.bolts-callout h2,
.bolts-callout h3,
.bolts-callout h4,
.bolts-callout h5,
.bolts-callout h6,
.bolts-callout p,
.bolts-callout ol,
.bolts-callout ul {
	margin-bottom: 0.35em !important;
	margin-top: 0.35em !important;
}

.bolts-callout a {
	text-decoration: underline;
}

.bolts-callout.warning {
	background-color: #ffe5e0;
	color: #8a1f11;
	border-color: #fbc2c4;
}

.bolts-callout.warning h1,
.bolts-callout.warning h2,
.bolts-callout.warning h3,
.bolts-callout.warning h4,
.bolts-callout.warning h5,
.bolts-callout.warning h6,
.bolts-callout.warning a {
	color: #8a1f11;
}


.bolts-callout.alert {
	background-color: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.bolts-callout.alert h1,
.bolts-callout.alert h2,
.bolts-callout.alert h3,
.bolts-callout.alert h4,
.bolts-callout.alert h5,
.bolts-callout.alert h6,
.bolts-callout.alert a {
	color: #514721;
}

.bolts-callout.success {
	background-color: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.bolts-callout.success h1,
.bolts-callout.success h2,
.bolts-callout.success h3,
.bolts-callout.success h4,
.bolts-callout.success h5,
.bolts-callout.success h6,
.bolts-callout.success a {
	color: #264409;
}

.bolts-callout.info {
	background-color: #dbeef9;
	color: #004a78;
	border-color: #93ccee;
}

.bolts-callout.info h1,
.bolts-callout.info h2,
.bolts-callout.info h3,
.bolts-callout.info h4,
.bolts-callout.info h5,
.bolts-callout.info h6,
.bolts-callout.info a {
	color: #004a78;
}

.bolts-callout.note {
	background-color: #e5e5e5;
	color: #555;
	border-color: #bbb;
}

.bolts-callout.note h1,
.bolts-callout.note h2,
.bolts-callout.note h3,
.bolts-callout.note h4,
.bolts-callout.note h5,
.bolts-callout.note h6,
.bolts-callout.note a {
	color: #444;
}

/* @end */

/* @group Forms */

.bolts-form .validation01 { 
	background: #ff9;
	color: #222;
	display: none;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	left: 220px;
	text-align: center;
	top: -10px;
	width: 150px;
	outline: 0;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.bolts-form .focused .validation01 {
	display: block;
}

.bolts-form input:focus:required:invalid + .validation01 .valid,
.bolts-form input.error:focus + .validation01 .valid,
.bolts-form input.required:focus + .validation01 .valid,
.bolts-form input:focus + .validation01 .valid {
	display: none;
}

.bolts-form input:focus:required:valid + .validation01,
.bolts-form input.valid:focus + .validation01 {
	display: none;
}

.bolts-form input:focus:required:valid + .validation01 .invalid,
.bolts-form input.valid:focus + .validation01 .invalid {
	display: none;
}

.bolts-form input:focus:required:valid + .validation01 .valid,
.bolts-form input.valid:focus + .validation01 .valid {
	display: block;
}

.bolts-form fieldset input:required:valid { 
	background-color: #fff;
	background-position: 379px -61px;
}

/* Enhanced error styling */
.bolts-form input.error {
	background-color: #fcb;
	color: #900;
	outline: none;
}

.bolts-form input.required {
	background-color: #fcb;
}

.bolts-form input[type=text],
.bolts-form input[type=email],
.bolts-form input[type=url],
.bolts-form input[type=password],
.bolts-form textarea,
.bolts-form select {
	border: 1px solid #ccc;
	font: 13px Georgia;
	padding: 5px;
	width: 200px;
	-webkit-appearance: none;
}

.bolts-form textarea {
	height: 180px;
	width: 300px;
}

.bolts-form input[type=text]:focus,
.bolts-form input[type=email]:focus,
.bolts-form input[type=url]:focus,
.bolts-form input[type=password]:focus,
.bolts-form textarea:focus,
.bolts-form select:focus {
	border-color: #09c;
	outline: none;
}

.bolts-form-small input[type=text],
.bolts-form-small input[type=email],
.bolts-form-small input[type=url],
.bolts-form-small input[type=password],
.bolts-form-small textarea,
.bolts-form-small select {
	width: 90%;
}

.bolts-form-small textarea {
	height: 100px;
}

.bolts-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bolts-form label {
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 10px 0 5px;
}

/* @end */

/* @group Table of Contents */

.bolts-toc {
	background: #f5f5f5;
	border: 2px solid #e5e5e5;
	color: #555;
	float: right;
	font-size: 11px;
	margin: 0 0 1em 1em;
	padding: 1em;
	width: 33%;
}

.bolts-toc h1 {
	font-size: 15px/1.4;
	letter-spacing: normal !important;
	margin: 0 0 0.5em !important;
	text-transform: uppercase;
}

.bolts-toc ol,
.bolts-toc ul {
	margin: 0.5em 0 0.5em 0.5em;
	padding: 0 0 0 1em;
}

/* @end */

/* @group Columns */

.bolts-columns {
	overflow: hidden;
	margin: 1.5em 0;
	width: 100%;
}

.bolts-column {
	float: left;
	margin: 0 -1px 0 0;
	padding: 0 2%;
	text-align: justify;
}

.bolts-column.rule {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.bolts-column.first {
	border-left: none;
	padding-left: 0;
}

.bolts-column.last {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.across-2 .bolts-column {
	width: 48%;
}

.across-3 .bolts-column {
	width: 30.5%;
}

.across-4 .bolts-column {
	width: 21.75%;
}

.bolts-column p {
	margin: 0 0 1em;
}

/* @end */

/* @group Debugging */

.bolts-debug {
	background: #ffe5e0;
	border: 2px solid #fbc2c4;
	color: #8a1f11;
	display: block;
	margin: 1em 0;
	padding: 0.25em 1em;
}

/* @end */